.features{
    display: flex;
    gap:50px;
    margin-top: 70px;
    flex-direction: column;
    padding: 0px 0px 90px 0px;
    border-radius: 10px;
    background-color: var(--themeBGColor);
    h1{
        color:#000;
    }
    .features-wrapper{
        display: grid;
        overflow: hidden;
        grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
        gap:40px;
        padding: 0px 30px 30px 30px;
        height: fit-content;
        max-width: 100%;
    }

    .feature{
        display: flex;
        gap:10px;
        flex-direction: column;
        justify-content: center;
        height: fit-content;
        
        padding: 35px 40px;
        min-width:250px;
        border-radius: 10px;
        .feature-icon>i{
            font-size: 3rem;
        }
        .feature-name{
            line-height: 1.5rem;
        }
    }

    .feature:hover{
        background: var(--btnBGLiteColor);
    }
}
