
.section-1{
      display: flex;
      min-height:calc(100vh - 101.6px);
      align-items: center;
      height: fit-content;
      
      .content-wrapper{
            display: flex;
            flex-direction: column;
            gap:40px;
            max-width: 50%;
            /* background-color: red; */
            h1{
                  font-size: 4rem;
                  color: var(--themeBGColor);
            }
            p>q{
                  letter-spacing: 1.7px;
                  font-size: 0.9rem;
                  color:var(--lite-theme-color);
            }
            div{
                  
                  button{
                        text-transform: uppercase;
                        i{
                              margin-left: 5px;
                        }
                  }
            }
      }

      .image-wrapper{
            flex:0 0 60%;
            img{
                  width: 100%;
            }
      }
}




@media only screen and (max-width: 900px) {
      .section-1{
            .content-wrapper{
                max-width: 75%;
            }
      }
}

@media only screen and (max-width: 600px) {
      .section-1{
            .content-wrapper{
                max-width: 95%;
            }
      }
}


@keyframes name-slide {
      from{
            transform: translateX(-10px);
      }
      to{
            transform: translateX(0px);
      }
}