
.section-1{
      display: flex;
      height:calc(100vh - 101.6px);
      align-items: center;
      height: fit-content;
      .content-wrapper{
            flex:1 1 auto;
            display: flex;
            flex-direction: column;
            gap:40px;
            h1{
                  font-size: 4rem;
            }
            p>q{
                  letter-spacing: 1.7px;
                  font-size: 0.9rem;
                  color:var(--lite-theme-color);
            }
            div{
                  
                  button{
                        text-transform: uppercase;
                        i{
                              margin-left: 5px;
                        }
                  }
            }
      }

      .image-wrapper{
            flex:0 0 60%;
            img{
                  width: 100%;
            }
      }
}




@media only screen and (max-width: 1160px) {
      .section-1{
            .image-wrapper{
                  flex:0 0 50%;
            }
      }
}

@media only screen and (max-width: 935px) {
      .section-1{
            .image-wrapper{
                  flex:0 0 40%;
            }
      }
}

@media only screen and (max-width: 830px) {
      .section-1{
            flex-direction: column-reverse;
            gap:50px;
            .content-wrapper{
                  align-items: center;
            }
            .image-wrapper{
                  flex:0 0 40%;
                  max-width: 350px;
            }
            .content-wrapper{
                  p{
                        text-align: center;
                        /* display: none; */
                  }
            }
      }
}

@keyframes name-slide {
      from{
            transform: translateX(-10px);
      }
      to{
            transform: translateX(0px);
      }
}