.video{
      margin:70px auto;
      padding:50px;
      max-width: 900px;

      p{
            color:var(--lite-theme-color);
            text-align: center;
      }
      .video-main-wrapper{
            flex:0 0 auto;
            width:100%;
            iframe{
                  width:100%;
                  aspect-ratio: 16 / 9;
                  height:fit-content;
                  object-fit: cover;
            }
      }
}

@keyframes primary-btn-ani {
      50%{
            width: 100%;
      }
      100%{
            right: -10%;
            width: 0%;
      }     
      
}

@media only screen and (max-width: 550px) {

      .video{
            padding:50px 10px;
      }

      
}
